<p>Hola Administrador,</p>
<p>La solicitud de permiso para vender del usuario con el correo
  {{sellerEmail}}
  ha sido aprobada. Ahora puede comenzar a vender productos en la plataforma.</p>
<p>Gracias por gestionar las solicitudes.</p>