<p>Hola {{sellerEmail}},</p>
<p>¡Felicidades! Tu solicitud para vender productos ha sido aprobada por el
  administrador. Ahora puedes comenzar a vender.</p>
<p>Gracias por unirte a miPyme Mutual.</p>